:root {
    --primary: #22223B;
    --secondary: #4A4E69;
    --light-variant: #9A8C98;
    --mid-variant: #C9ADA7;
    --dark-variant: #F2E9E4;

    --primary-o: #303030;
    --secondary-o: #a7a7a7;
    --light-variant-o: #5b5b5b;
    --dark-variant-o: #212121;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* --primary-o */
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 20px;
    vertical-align: bottom;
}

.sidebar img {
    width:75%;
    border-radius: 50%;
    /* --secondary-o */
    border: 5px solid var(--dark-variant);
}

.sidebar span {
    /* position: absolute;
    text-align: center;
    right: 0px; */
    color: var(--dark-variant);
    display: inline-block;
    text-align: left;
}

/* for the icons */
.sidebar span img {
    height: 1.5em;
    width: 1.5em;
    font-size: 0.73em;
    border: 0px;
    border-radius: 0%;
}

/* .sidebar li {
    
} */
.fake-h4 {
    font-style: italic;
    /* --light-variant-o */
    color: var(--light-variant);
}

.main {
    height: 100%;
    width: 68%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 20px;
}

/* for links to not be in blue */
a {
    /* --primary-o */
    color: var(--primary-variant);
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

a:hover {
    /* text-decoration: underline; */
    color: var(--mid-variant);
}

/* removes bullets to make a pretty indent */
ul {
    list-style-type: none;
}

body {
    /* --dark-variant-o */
    background-color: var(--dark-variant);
    /* --secondary-o */
    color: var(--secondary);
    font-family: Victor Mono, Arial, serif;
}